[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "inspectdf"]
	path = inspectdf
	url = https://github.com/alastairrushworth/inspectdf
